<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/" aria-label="Home">
                <span><img src="{{ '/assets/img/logonav.png' | relative_url }}" alt="{{ site.title }} Logo" class="navbar-logo"></span>
                <span class="site-title">{{ site.title }}</span>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.sectionid=='docs' %}class="active"{% endif %}>
                    <a href="{{ '/docs/home/' | relative_url }}">Docs</a>
                </li>
                <li {% if page.sectionid=='blog' %}class="active"{% endif %}>
                    <a href="{{ site.posts.first.url | relative_url }}">Blog</a>
                </li>
            </ul>
            <div class="navbar-right">
                <form class="navbar-form navbar-left" action="/search" method="get" role="search">
                    <div class="form-group has-feedback">
                        <input id="search-box" 
                               name="query" 
                               type="search" 
                               class="form-control" 
                               placeholder="Search..."
                               aria-label="Search"
                               required
                               minlength="2">
                        <button type="submit" class="form-control-feedback" aria-label="Submit search">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ site.git_address }}" aria-label="GitHub repository">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
.navbar-logo {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.site-title {
    vertical-align: middle;
}
.form-control-feedback {
    pointer-events: auto;
    cursor: pointer;
}
</style>
