<head>
    <!-- Other meta tags and CSS links -->
    <link rel="stylesheet" href="{{ "/assets/css/navbar.css" | relative_url }}">
</head>
<nav class="navbar navbar-default navbar-fixed-top custom-navbar">
  <div class="container navbar-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ "/assets/img/logonav.png" | relative_url }}" alt="Logo" style="height: 30px; display:inline-block; vertical-align:middle;">
        <span style="margin-left: 8px;">{{ site.title }}</span>
      </a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/docs/home/" | relative_url }}">Cours de grammaire</a></li>
        <li {% if page.sectionid=='blog' %} class="active" {% endif %}><a href="{{ site.posts.first.url | relative_url }}">Blog</a></li>
        <li {% if page.sectionid=='docs' %} class="active" {% endif %}><a href="{{ "/contact" | relative_url }}">Contact</a></li>
      </ul>

      <div class="navbar-right navbar-form-container">
        <form action="{{ site.baseurl }}/search.html" method="get" class="navbar-search-form">
          <input type="text" name="query" class="search-input" placeholder="Rechercher...">
          <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</nav>
